<h1>Automating Deployment for Rails</h1>
<p>Configuring automation with with Capistrano 3 + Rails 4 + Unicorn + Nginx + MySQL</p>
<p>
  - Author
</p>
<%= link_to "Gist", "https://gist.github.com/eaconde/ecbc63d4ab4699fdd7fd" %>
